
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12 col-1">
        <label class="font-weight-light font-xlarge">Inventory Summary</label> 
        <div class="inv-summary"> 
            <mat-card class="example-card">
               <p>test</p>
               <p>test</p>
               <p>test</p>
            </mat-card> 
        </div>
     </div>
     <div class="col-lg-2 col-md-2 col-sm-12 col-2">
        <label class="font-weight-light font-xlarge">Inventory Summary</label> 
        <div class="inv-summary"> 
            <mat-card class="example-card">
                <p>test</p>
               <p>test</p>
               <p>test</p>
            </mat-card> 
        </div>
     </div>
     <div class="col-lg-2 col-md-2 col-sm-12 col-3">
        <label class="font-weight-light font-xlarge">Inventory Summary</label> 
        <div class="inv-summary"> 
            <mat-card class="example-card">
                <p>test</p>
                <p>test</p>
                <p>test</p>
            </mat-card> 
        </div>
     </div>
     <div class="col-lg-2 col-md-2 col-sm-12 col-3">
        <label class="font-weight-light font-xlarge">Inventory Summary</label> 
        <div class="inv-summary"> 
            <mat-card class="example-card">
                <p>test</p>
               <p>test</p>
               <p>test</p>
            </mat-card> 
        </div>
     </div>

     <div class="col-lg-4 col-md-4 col-sm-12 col-4">
        <label class="font-weight-light font-xlarge">Inventory Summary</label> 
        <div class="inv-summary"> 
            <mat-card class="example-card">
                <p>test</p>
                <p>test</p>
                <p>test</p>
            </mat-card> 
        </div>
     </div>
</div>
  
