<div class="container-fluid">
    <mat-divider></mat-divider>
    <div id="section1" class="container-fluid" style="padding-top:10px;padding-bottom:10px">
        <app-cardhome></app-cardhome>
    </div>
    <mat-divider></mat-divider>
    <div id="section1" class="container-fluid" style="padding-top:10px;padding-bottom:10px">
        <div class="col-md-12">
            <app-dash-section-second></app-dash-section-second>
        </div>
    </div>

    <mat-divider></mat-divider>
    <div id="section1" class="container-fluid" style="padding-top:10px;padding-bottom:10px">
        <div class="col-md-12 dash-calendar">
            <app-dash-calendar></app-dash-calendar>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div id="section1" class="container-fluid" style="padding-top:10px;padding-bottom:10px">
        <div class="col-md-12">
            <app-leaverequestperiod></app-leaverequestperiod>
        </div>
    </div>
    <!--<app-main-report></app-main-report>-->
</div>